@import url('reset.css');

/* --- MY STYLES --- */

.container {
    width: 1200px;
    margin: 0 auto;
}

.container div {
    outline: 2px solid red;
}

header {
    background: black;
    color: aqua;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

h1 {
    font-size: 60px;
}

a {
    text-transform: initial;
    color: aquamarine;
    text-decoration: none;
}

.cards {
    font-size: 0;
}

.card {
    width: 400px;
    height: 400px;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 0 10px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
}

.card-text {
    margin: 0 0 10px;
    overflow: hidden;
    text-transform: unset;    
}

.second-cards {
    font-size: 0;
}

.second-cards > div {
    display: inline-block;
    font-size: 20px;
    width: 800px;
    vertical-align: top;
}

.second-cards > div + div {
    width: 400px;
}

.second-card {
    height: 200px;
}

.second-card-two {
    height: 133.133px;
}

.third-cards {
    font-size: 0;
}

.third-card-one {
    width: 400px;
    height: 400px;
    font-size: 16px;
    padding: 10px;
}

.third-card-two {
    width: 800px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;

}

.card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 0 10px;
}

.third-cards {
    font-size: 0;
}

.third-cards > div {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    width: 400px;
    height: 400px;
}

.third-cards > div + div {
    width: 800px;
    height: auto;
}

.third-cards > div + div > div {
    height: 200px;
}

.third-card-bottom {
    font-size: 0;
}

.third-card-bottom > div {
    display: inline-block;
    font-size: 20px;
    width: 400px;
    height: 200px;
    vertical-align: top;
}

.third-card-bottom > div + div > div {
    height: 100px;
}

.third-card-bottom1{
    background: blue;
}

.third-card-bottom1 + div {
    background: yellow;
}

/* --- FLOAT CARDS --- */

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.cards-float {
    background: #F5A9A9; 
}

.card-float {
    float: left;
    width: 400px;
    height: 400px;
    padding: 10px;
}

.second-cards-float > div {
    font-size: 20px;
    width: 800px;
    float: left;
    background: #F3F781;
}

.second-cards-float > div + div {
    width: 400px;
}

.second-card-float {
    height: 200px;
}

.second-card-two-float {
    height: 133.133px;
}

.third-cards-float > div {
    float: left;
    font-size: 20px;
    width: 400px;
    height: 400px;
    background: #A9F5F2;
}

div.third-card-one-float {
    width: 800px;
}

.third-card-one-float > div {
    height: 200px;
}

.therd-cards-float > div + div {
    width: 800px;
    height: auto;
}

.therd-cards-float > div + div > div {
    height: 200px;
}

.third-card-bottom-float > div { 
    float: left;
    font-size: 20px;
    width: 400px;
    height: 200px;
    background: #A9F5F2;
}

.third-card-bottom-float > div + div > div {
    height: 100px;
}

/* --- FLEX CARDS --- */

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.cards-flex {
    background: #DF7401;
}

.cards-flex {
    display: flex;
}

.card-flex {
    width: 400px;
    height: 400px;
    padding: 10px;
}

.second-cards-flex {
    display: flex;
}

.second-cards-flex > div {
    font-size: 20px;
    width: 800px;
    background: #00BFFF;
}

.second-cards-flex > div + div {
    width: 400px;
}

.second-card-flex {
    height: 200px;
}

.second-card-two-flex {
    height: 133.133px;
}

.third-cards-flex {
    display: flex;
}

.third-cards-flex > div {
    font-size: 20px;
    width: 400px;
    height: 400px;
    background: #FF00FF;
}

div.third-card-one-flex {
    width: 800px;
}

.third-card-one-flex > div {
    height: 200px;
}

.therd-cards-flex > div + div {
    width: 800px;
    height: auto;
}

.therd-cards-flex > div + div > div {
    height: 200px;
}

.third-card-bottom-flex {
    display: flex;
}

.third-card-bottom-flex > div { 
    font-size: 20px;
    width: 400px;
    height: 200px;
    background: #9A2EFE;
}

.third-card-bottom-flex > div + div > div {
    height: 100px;
}